<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <script src="../../js/jquery-3.5.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link href="../../css/index.css" rel="stylesheet">
    <title th:text="${community.communityName}"></title>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="header"></div>
<script>
    $("#header").load("../../pages/header");
</script>

<main role="main" class="container">
    <div class="row">
        <div class="col">
            <div style="background-color:lightskyblue;height: 100px;border: green solid 1px;">
                <div>
                        <img th:src="@{(${community.communityAvatar})}" style="float: left;" />
                </div>
                    <div>
                        <strong class="d-block text-gray-dark">
                            &#12288&#12288<a th:href="@{/community/community/}+${community.communityId}" th:text="${community.communityName}"></a>
                            <p th:text="${community.communityDescription}" style="color: grey"></p>
                        </strong>
                    </div>
                </div>
            </div>
            <br>
            <!--发帖按钮-->
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/community/post/post/}+${community.communityId}"><button type="button">发帖</button></a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <p style="color: red;font-size: 20px">未登录只能浏览不能发帖</p>
            </div>
            <br>
            <!--帖子-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        帖子
                    </h1>
                </div>
                <div >
                    <ul class="list-group" th:each="post:${pageinfo.list}">
                        <HR align=center color=#987cb9>
                        <li style="list-style-type: none">
                            <a th:text="${post.postTitle}" th:href="@{/community/post/}+${post.postId}+'?page=1&size=10&communityId='+${post.communityId}" style="font-size: 15px;color: black"></a>
                            <p th:text="${#temporals.format(post.postTime,'yyyy-MM-dd HH:mm:ss')}" style="float: right;color: #888888;font-size: 10px" ></p>
                            <a th:text="${[post.postId]}+'&#12288'" style="color: #2b669a;float: right" ></a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav aria-label="Page navigation" th:align="center" th:if="${pageinfo.total} gt 0">
                <ul class="pagination">
                    <li>
                        <a th:href="@{/community/community/}+${community.communityId}+'?page=1&size='+${pageinfo.pageSize}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a th:href="@{/community/community/}+${community.communityId}+'?page='+${pageinfo.pageNum-1}+'&size='+${pageinfo.pageSize}">上一页</a></li>
                    <li th:each="pageNo: ${#numbers.sequence(1,pageinfo.pages)}"> <a th:href="@{/community/community/}+${community.communityId}+'?page='+${pageNo}+'&size='+${pageinfo.pageSize}" th:text="${pageNo}"></a> </li>
                    <li><a th:href="@{/community/community/}+${community.communityId}+'?page='+${pageinfo.pageNum+1}+'&size='+${pageinfo.pageSize}">下一页</a></li>
                    <li>
                        <a th:href="@{/community/community/}+${community.communityId}+'?page='+${pageinfo.pages}+'&size='+${pageinfo.pageSize}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
</body>

</html>